@model GRB.Models.RtiTbl

@{
    ViewBag.Title = "EditRti";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .jqte a {
        background-color: #EEE !important;
        padding: 3px 4px !important;      
        margin:3px;
        border-bottom: #BBB 1px solid !important;
    }
</style>
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RTI Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group" id="Uploads">
            @Html.LabelFor(model => model.RTI, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-11">
                @Html.TextAreaFor(model => model.RTI,10,10, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.RTI, "", new { @class = "text-danger" })
            </div>
        </div>

   

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

<script>
    $(function () {
        $("textarea").jqte();
    })
</script>