@model IEnumerable<GRB.Models.ProfileTbl>
@using PagedList.Mvc;
@using GRB.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
    var res = (ProfileTbl)ViewBag.results;
}

<h1>Profiles</h1>
<h3>@ViewData["FileName"]</h3>
            @{ 
                var ThisPro = (GRB.Models.ProfileTbl)ViewBag.ProfId;
             }
<div class="row" style="padding:5px;">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">

            @foreach (var item in Model)
            {
                if (item.P_Id == item.P_Id)
                {
                    <li class="active"><a href="~/ProfileTbls/ProfilesList/@item.P_Id">@item.P_Designation</a></li>
                }
                else
                {
                    <li><a href="~/ProfileTbls/ProfilesList/@item.P_Id">@item.P_Designation</a></li>
                }
            }
        </ul>
    </div>
    <div class="col-md-9">
    @*@foreach (var item in Model)*@
        <div class="row">
            <div class="col-md-4">
                <h2 id="pname">@res.P_Name</h2>
                @*<h4>Status: <strong>@ThisPro.P_Desc</strong></h4>*@
                <h4>@res.P_Designation</h4>
                <h4>@res.P_Desc</h4>
            </div >
            <div class="col-md-5">
                    <img src = "/Uploads/Pictures/Profiles/@res.P_Pic" style="height:200px" />
            </div>
        </div>
        <hr />
        @*<h2>List of Beneficiaries</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().In_Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Gender)
                </th>
                

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.In_Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                
                </tr>
            }

        </table>*@
        @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("InmatesList",*@
        @*new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, projId = 1  }))*@
    </div>

</div>
