@model GoaRehabWeb.Models.ProjectsTbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjectsTbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Proj_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proj_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proj_Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proj_Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proj_Pic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proj_Pic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proj_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proj_Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Proj_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
