@model PagedList.IPagedList<GRB.Models.InmatesTbl>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
}

<h2>List of Inmates</h2>
<center>
    <h2 class="section-to-print"><b>@ViewBag.Title</b></h2>

    @using (Html.BeginForm("Index", "InmatesTbls", FormMethod.Get))
    {
        <div class="row section-to-Not-print">
            <div>
                <table>
                    <tr style="text-align:center">
                        <td>&nbsp; Inamte Name: </td>
                        <td> @Html.TextBox("PropName", ViewBag.CurrentFilter as string, new { @class = "form-control" })</td>

                        <td class="col-lg-1"></td>
                        <td><input type="submit" value="Search" class="btn btn-default" /></td>
                    </tr>
                </table>
            </div>
        </div>
    }
</center>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().In_Name)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ProjectsTbl.Proj_Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.In_Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectsTbl.Proj_Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.In_Id }) |            
            @Html.ActionLink("Delete", "Delete", new { id=item.In_Id })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))