<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Goa Rehabilitation Board</title>
    <link rel="icon" href="~/Custom/BBS.ico">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.bootstrap.newsbox.js"></script>
    <script src="~/Scripts/jquery.bootstrap.newsbox.min.js"></script>
    <style>
        #slide {
            width: 300%;
            animation: both 40s infinite;
            animation-timing-function: linear;
            background-color: black;
        }

            #slide a:hover {
                text-decoration: underline;
            }

            #slide:hover {
                animation-play-state: paused;
            }

        .blink {
            background-color: black;
            animation: blink 0.85s linear infinite;
        }

            .blink:hover {
                animation-play-state: paused;
            }

        .topright {
            position: absolute;
            top: 30px;
            right: 40px;
        }
        #borderimg {
            border: 15px solid;
            border-image-outset: 30px;
            padding: 15px;
            -webkit-border-image: url(/Uploads/Pictures/wood.jpg) 30 round; /* Safari 3.1-5 */
            -o-border-image: url(/Uploads/Pictures/wood.jpg) 30 round; /* Opera 11-12.1 */
            border-image: url(/Uploads/Pictures/wood.jpg) 30 round;
        }
        
    </style>
</head>
<body style="background-image:url(/Uploads/Pictures/img-bricks.jpg)">

    <div class="navbar-wrapper">
        <div class="container-fluid" style="margin-right: 100px;margin-left: 10px;">
            <nav class="navbar navbar-inverse" style="border-radius:50px; border: 3px ridge hsl(0, 100%, 25%);">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" style="color:aliceblue;font-weight:700;" href="/">&nbsp;       GOA REHABILITATION BOARD</a>
                    </div>
                    <a id="emblem" href="~/"><img src="~/Custom/Emblem.png" height=150px; alt="Goa Rehabiliotation Board"  /> </a>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Profiles", "Index", "ProfileTbls")</li>
                            <li>@Html.ActionLink("Projects", "InmatesList", "InmatesTbls")</li>
                            <li>@Html.ActionLink("Staff Info", "Index", "StaffTbls")</li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
                    <a href="~/"><img src="~/Uploads/Pictures/goa-logo.jpg" height=110px; alt="Government of Goa" class="topright" /> </a>        
    </div>
        <div id="borderimg" class="container body-content" style="background-color:lightyellow">
    <div style="border:solid 3px;">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Developed by EEAA tech</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
