@model IEnumerable<GRB.Models.StaffTbl>

@{
    ViewBag.Title = "Staff Information";
}

<h2>Staff Information</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Responsibilities</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.S_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.S_Responsibilities)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.S_Id }) 
                        @Html.ActionLink("Delete", "Delete", new { id = item.S_Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>