@using GRB.Models;
@model IEnumerable<GRB.Models.NewsTbl>
@{   
    Layout = "~/Views/Shared/_Layout.cshtml";
    var res = (GoaRehabTbl)ViewBag.res;
    //NewsTbl nws = (NewsTbl)ViewBag.news;
}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Uploads/Pictures/Carousel/Carousel1.jpg" alt="Goa">
            <div class="carousel-caption">
                <h3>Ancestral Goa</h3>
                <p>The best place to visit in Goa</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Uploads/Pictures/Carousel/Carousel2.jpg" alt="Goa">
            <div class="carousel-caption">
                <h3>Delicate and beautiful</h3>
                <p>The Best Scene</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Uploads/Pictures/Carousel/Carousel3.jpg" alt="Goa">
            <div class="carousel-caption">
                <h3>Big Foot Goa</h3>
                <p>We love Green Goa</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Uploads/Pictures/Carousel/Carousel4.jpg" alt="Goa">
            <div class="carousel-caption">
                <h3>Portuguese House</h3>
                <p>Worth Visiting</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Uploads/Pictures/Carousel/Carousel5.jpg" alt="Goa">
            <div class="carousel-caption">
                <h3>Goa as before</h3>
                <p>The Best Scene</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Uploads/Pictures/Carousel/Carousel6.jpg" alt="Goa">
            <div class="carousel-caption">
                <h3>Goan home</h3>
                <p>We love Goa</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Uploads/Pictures/Carousel/carousel7.jpg" alt="Goa">
            <div class="carousel-caption">
                <h3>Goan Art gallery</h3>
                <p>Re-purposed</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
        
<div class="row">
    <div class="col-md-3">
        <h2 style="text-align:center;">Mission</h2>
        <center>
            <p style="color:black; font-style:italic; font-family:'Times New Roman'; font-size:large">
                @res.Mission
            </p>
        </center>
    </div>
    <div class="col-md-6">
        <div class="row">
            <h2 style="text-align:center;">Latest News</h2>
        </div>
        <marquee direction="up" onmouseover="this.stop()" onmouseout="this.start()">
            @foreach (var item in Model)
            {
                <div class="row">
                    @*<div class="col-md-2">*@
                    <center>
                        <img src="/Uploads/Pictures/@Html.DisplayFor(modelItem => @item.N_Pic)" style="height:200px;width:300px" />
                        <br />
                        <h2>@Html.DisplayFor(modelItem => @item.N_Title)</h2>
                        <p style="color:black; font-family:'Times New Roman'; font-size:24px">@Html.DisplayFor(modelItem => @item.N_Date)</p>
                        <br />
                        <p style="color:black; font-family:'Times New Roman'; font-size:x-large">@Html.DisplayFor(modelItem => @item.N_Desc)</p>
                        <br />
                    </center>
                    @* </div>*@
                </div>

            }
        </marquee>
    </div>
    <div class="col-md-3">
        <h2 style="text-align:center;">Vision</h2>
        <center>
            <p style="color:black; font-style:italic; font-family:'Times New Roman'; font-size:large">
                @res.Vision
            </p>
        </center>
    </div>
</div>

